@import '../node_modules/bulma/bulma.scss';

$widescreen-enabled: true;
$tablet-enabled: false;
$mobile-enabled: false;
$fullhd-enabled: false;

// :root {
//   /* CSS Variables */
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     /* CSS Variables */
//   }
// }

// section.section.is-main-section {
//   position: fix;
//   top: 5rem;
//   left: 10rem;
//   height: 100vh;
// }
